// Buy me a coffee
.bmc-btn svg {
    height: 32px !important;
    margin-bottom: 0px !important;
    box-shadow: none !important;
    border: none !important;
    vertical-align: middle !important;
    transform: scale(0.6);
    flex-shrink: 0;
}
.bmc-btn {
  margin-left: 1em;
  min-width: 180px;
  color: #ffffff;
  background-color: #c00000 !important;
  height: 30px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: Bold;
  border: none;
  padding: 0px 12px;
  line-height: 17px;
  text-decoration: none !important;
  display: inline-flex !important;
  align-items: center;
  font-family: 'Poppins', sans-serif !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
.bmc-btn:hover, .bmc-btn:active, .bmc-btn:focus {
  text-decoration: none !important;
  cursor: pointer;
}
.bmc-btn-text {
 margin-left: 8px;
 display: inline-block;
 line-height: 0;
 width: 100%;
 flex-shrink: 0;
}
.logo-outline {
  fill: #ffffff;
}
.logo-coffee {
  fill: #FFDD00;
}
