$china-bg: rgb(254, 205, 33);
$china-bg-transparent: rgba(254, 205, 33, 0);
// ruriiro
$japan-bg: rgb(0, 92, 175);
$korea-bg: rgb(183, 208, 207);
$vietnam-bg: rgb(208, 107, 35);
// $shoujouhi: rgb(232, 48, 21);
// $shoujouhi-transparent: rgba(232, 48, 21, 0);
$shuiro: rgb(239, 69,74);
$shuiro-transparent: rgba(239, 69,74, 0.6);
$shinshu: rgb(171, 59, 58);
// $shinshu-transparent: rgba(171, 59, 58, 0.5);
$midori: rgb(34, 125, 81);
$midori-transparent: rgba(34, 125, 81, 0);
$shironeri: rgb(252, 250, 242);
// $shironeri-transparent: rgba(252, 250, 242, 0.1);
$enji: rgb(159, 53, 58);
$enji-transparent: rgba(159, 53, 58, 0);
$transparent: rgba(0, 0, 0, 0);

$east-mtn-colour: #007FFF;
$northern-colour: rgb(28, 28, 28);
$oxhead-colour: #8e1ecb;
$sichuan-colour: $shuiro;
$heze-colour: #999;
$guiyang-colour: #FF9300;
$yunmen-colour: #9CD93B;
// Mizu
$linji-colour: #81C7D4;
$caodong-colour: rgb(254, 8, 255);
$fayan-colour: rgb(0, 25, 225);

$bg-colour: $china-bg;
$bg-colour-transparent: $china-bg-transparent;
$dark-text-colour: #111;
$light-text-colour: $shironeri;
$default-teacher-colour: lighten($bg-colour, 30%);
$default-teacher-colour-transparent: lighten($bg-colour-transparent, 30%);
$selected-colour: #fff;
$selected-colour-transparent: rgba(#fff, 0.5);
$ancestor-colour: $enji;
$ancestor-colour-transparent: $enji-transparent;
$descendant-colour: $midori;
$descendant-colour-transparent: $midori-transparent;
$teacher-marker-colour: rgba(darken($bg-colour, 15%), 0.5);

$northern-southern-colour: rgba(204, 84, 58, 0.3);
// yanaginezumi
$sui-colour: rgba(128, 143, 124, 0.5);
// momo
$tang-colour: rgba(245, 150, 170, 0.5);
// shinbashi
$northern-song-colour: rgba(0, 137, 167, 0.5);
// ake
$southern-song-colour: rgba(204, 84, 58, 0.5);
// nibi
$ten-kingdoms-colour: rgba(101, 103, 101, 0.5);
// kurenai
$liao-colour: rgba(#a13646, 0.5);
$jin-colour: rgba(#d1cb67, 0.5);
$yuan-colour: rgba(#417e80, 0.5);
$qara-khitai-colour: rgba(#152c55, 0.5);
$mongol-colour: rgba(#582a72, 0.5);
