@import 'chan-colours.css.scss';

@mixin school-legend($school, $colour) {
  li##{$school}-school-legend {
    border-bottom: 4px solid $colour;
  }
}
@include school-legend(east-mtn, $east-mtn-colour);
@include school-legend(oxhead, $oxhead-colour);
@include school-legend(northern, $northern-colour);
@include school-legend(sichuan, $sichuan-colour);
@include school-legend(heze, $heze-colour);
@include school-legend(guiyang, $guiyang-colour);
@include school-legend(yunmen, $yunmen-colour);
@include school-legend(linji, $linji-colour);
@include school-legend(caodong, $caodong-colour);
@include school-legend(fayan, $fayan-colour);
#legend {
  position: fixed;
  bottom: 24em;
  left: 1.2em;
  z-index: 1000;
  width: 92vw;
  max-width: 30em;
  background-color: lighten($bg-colour, 10%);
  box-shadow: .2em .2em .2em darken($bg-colour, 20%);
  border: 2px solid $shironeri;
  border-radius: 3px;

  #legend-header {
    padding: 0.2em 0em 0 0.5em;
    height: 1.5em;
    background-color: $shironeri;
    color: $dark-text-colour;
    font-weight: 800;
    cursor: pointer;
  }
  #legend-body {
    margin: .4em .4em;
  }

  h2 {
    margin: 0.6em 0 0 0.3em;
    color: $dark-text-colour;
    font-size: 1em;
    font-weight: 600;
  }

  ul {
    margin: 0 0;
    display: flex; 
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0 0;

    // Ensures legend items break evenly
    .breakpoint {
      margin: 0 0;
      padding: 0 0;
      flex-basis: 100%;
      height: 0;
    }
    li {
      flex-grow: 1;
      margin: .2em .2em;
      padding: .4em .2em .3em .5em;
      border-radius: 3px;
      color: $dark-text-colour;
      background-color: $default-teacher-colour;
    }
    span {
      font-size: .6em;
      padding-left: .5em;
    }
  }
  .schools-legend {
    // Ensures legend items break evenly
    .breakpoint {
      margin: 0 0;
      padding: 0 0;
    }
    li {
      padding-top: .2em;
      padding-bottom: 0;
      display: flex;
      justify-content: space-between;
    }
  }
  .five-schools-legend li {
    padding-bottom: 3px;
  }
  #descendants-legend {
    background-color: $descendant-colour;
    color: $light-text-colour; 
  }
}
@media screen and (min-width: 30em) {
  #legend {
    bottom: 5em;
    width: 23em;
    ul {
      .breakpoint {
        flex-basis: auto;
        // Removes width
        flex-grow: 0;
      }
    }
    .schools-legend .breakpoint {
      flex-basis: 100%;
    }
    .five-schools-legend .breakpoint {
      flex-basis: auto;
    }
  }
}
// Chrome specific styling
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
  #legend ul span {
    font-size: .9em;
  }
}

