@import "vis-timeline/styles/vis-timeline-graph2d.css";
@import "chan-colours.css.scss";
@import "chan-legend.css.scss";
@import "timeline.css.scss";
@import "bmac.css.scss";

body {
  background-color: $bg-colour;
  color: #333;
  font-family: "Myriad Pro", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 0 0.5rem;
  // This knocks timeline items out of whack.
  // text-align: center;
}
a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
    text-decoration: underline;
  }
}
h1, h2, h3 {
  margin-bottom: .1em;
}
p {
  margin-top: 0;
  margin-bottom: .7em;
}
// Nav
nav {
  // display: flex;
  // justify-content: space-between;
  
  ul {
    display: flex;
    align-items: baseline;
    margin: 0 0 .3em 0;
    padding-left: 0;
    list-style: none;
    a {
      text-decoration: none;
      font-weight: 600;
    }
  }
  li {
    // Aligns about li to right
    margin-left: auto;
  }
  #title {
    // Aligns title li to right
    margin-left: 0;
    a {
      display: flex;
      align-items: baseline;
    }
  }
  h1 { 
    margin-top: 0;
    font-size: 1.2em;
    color: $enji;
    width: 8em;
  }
  img {
    align-self: center;
    width: 2.6em;
    margin-right: 1em;
  }
}
footer {
  display: flex;
  p {
    white-space: nowrap;
  }
}

// Sticky footer start
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}
// Sticky footer end

@media screen and (min-width: 30em) {
  nav {
    li {
      margin-left: 0;
    }
    h1 {
      margin-top: .3em;
      font-size: 2em;
      width: 17em;
    }
    img {
      width: 3em;
    }
  }
  article {
    font-size: 1.1em;
    margin-left: 2em;
    width: 35rem;
  }
}
