@import 'chan-colours.css.scss';

// Default
// Override vis-timeline styling.
#default-legend, 
.vis-item.vis-range,
.vis-item-overflow {
  border-radius: 3px;
  border: none;
}
@mixin fades($teacher, $colour) {
  .#{$teacher}.left-fade {
    background: linear-gradient(270deg, #{$colour} 80%, $transparent);
  }
  .#{$teacher}.right-fade {
    background: linear-gradient(90deg, #{$colour} 80%, $transparent);
  }
  .#{$teacher}.both-fade {
    background: linear-gradient(90deg, $transparent, #{$colour} 20%, #{$colour} 80%, $transparent);
  }
}
@mixin selected-teacher-text {
  color: $shinshu;
  font-weight: 600;
}
#visualization {
  margin-bottom: .5em;
  .teacher-group .vis-inner {
    margin-top: 5rem;
  }
  .vis-inner {
    padding-right: 0;
    font-size: 1.3rem;
    // Only partial browser support
    writing-mode: sideways-lr;
  }
  // Performance improvement for static page
  .teacher-group .vis-item-content {
    transform: translateX(0);
  }

  // Order is important. Default style must come before other teacher styles.
  .teacher {
    background-color: $default-teacher-colour;
    cursor: pointer;

    .vis-item-content{
      // Aligns metacontent to the right.
      display: flex;
      span {
        font-size: .5em;
      }
      span:first-of-type {
        flex: 1;
        font-size: 1em;
      }
    }
  }
  @include fades(teacher, $default-teacher-colour);

  @include fades(ancestor, $ancestor-colour);

  .descendant {
    background-color: $descendant-colour;
    .vis-item-content { color: $light-text-colour; }
  }
  @include fades(descendant, $descendant-colour);

  .teacher-marker {
    position: absolute;
    background-color: $teacher-marker-colour;
  }
  @include fades(teacher-marker, $teacher-marker-colour);

  .selected-teacher { 
    background-color: $selected-colour;
    .vis-item-content { @include selected-teacher-text; }
  }
  @include fades(selected-teacher, $selected-colour);

  .guiyang-school, .yunmen-school, .linji-school, .caodong-school, .fayan-school {
    // TODO: Prevent bg-colour from blocking school transparent fade.
    // margin-bottom: 4px;
  }
}

// Chrome specific styling
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
  #visualization .teacher .vis-item-content span {
    font-size: .9em;
  }
}

// Superscript showing teacher's generation
// .generation {
//   display: inline;
//   font-size: .5rem;
//   display: none;
// }
// Ancestors
#legend #ancestors-legend,
#visualization .ancestor {
  background-color: $ancestor-colour;
  color: #fff;
}

#legend #selected-legend { 
  @include selected-teacher-text; 
  background-color: $selected-colour; 
}
@mixin border-gradient($school-colour) {
  border-radius: 3px;
  border-bottom: 4px solid $school-colour;
  border-image-slice: 1;
}
@mixin school-styling($school, $colour) {
  .#{$school}-school .vis-item-content {
    padding-bottom: 1px;
  }
  .#{$school}-school > .vis-item-overflow {
    @include border-gradient($colour);
  }
  .#{$school}-school.right-fade > .vis-item-overflow {
    border-image: linear-gradient(90deg, #{$colour} 80%, $transparent);
    @include border-gradient($colour);
  }
  .#{$school}-school.left-fade > .vis-item-overflow {
    border-image: linear-gradient(270deg, #{$colour} 80%, $transparent);
    @include border-gradient($colour);
  }
  .#{$school}-school.both-fade > .vis-item-overflow {
    border-image: linear-gradient(90deg, $transparent, #{$colour} 20%, #{$colour} 80%, $transparent);
    @include border-gradient($colour);
  }
}
@include school-styling(oxhead, $oxhead-colour);
@include school-styling(sichuan, $sichuan-colour);
@include school-styling(heze, $heze-colour);
@include school-styling(northern, $northern-colour);
@include school-styling(east-mtn, $east-mtn-colour);
@include school-styling(guiyang, $guiyang-colour);
@include school-styling(yunmen, $yunmen-colour);
@include school-styling(linji, $linji-colour);
@include school-styling(caodong, $caodong-colour);
@include school-styling(fayan, $fayan-colour);
// Dynasties
// !important to override element styling.
// Calc does not work with Sass variables.
$dynasty-height: 4em;
.dynasty-group {
  height: $dynasty-height !important;

  .vis-item-overflow {
    display: flex !important;
    align-items: center !important;
    justify-content: center;
  }

  .vis-item-content {
    color: #fff;
  }

  .northern-southern {
    height: $dynasty-height !important;
    background-color: $northern-southern-colour;
  }
  .sui-dynasty {
    height: $dynasty-height !important;
    background-color: $sui-colour;
  }
  .tang-dynasty {
    height: $dynasty-height !important;
    background-color: $tang-colour;
  }
  .ten-kingdoms {
    height: $dynasty-height !important;
    background-color: $ten-kingdoms-colour;
    z-index: 100;

    .vis-item-content {
      white-space: normal;
    }
  }
  .northern-song {
    top: calc(4em / 2) !important;
    height: calc(4em / 2) !important;
    background-color: $northern-song-colour;
  }
  .southern-song {
    top: calc(4em * 2 / 3) !important;
    height: calc(4em / 3) !important;
    background-color: $southern-song-colour;
  }
  .liao {
    height: calc(4em/2) !important;
    background-color: $liao-colour;
  }
  .jin {
    height: calc(4em / 3) !important;
    background-color: $jin-colour;
  }
  .qara-khitai {
    top: 1.4em !important;
    height: calc(4em / 3) !important;
    background-color: $qara-khitai-colour;
  }
  .yuan {
    top: calc(4em * 2 / 3) !important;
    height: calc(4em / 3) !important;
    background-color: $yuan-colour;
  }
  .mongol {
    height: calc(4em * 2 / 3) !important;
    background-color: $mongol-colour;
  }
}
