| <!doctype html>
html lang="en-AU"
  = partial "partials/head"
  title
    = current_page.data.title || "Zen Timeline and Lineage Charts"
  = stylesheet_link_tag "style"
  body
    = partial "partials/nav"
    main role="main" aria-labelledby="main-title"
      = yield
    = partial "partials/article_footer"
  = partial "partials/analytics"
