p[xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"]
  span[property="dct:title"]
    | Zen Timeline and Lineage Charts
  '  is licensed under
  a[href="http://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;"]
    | CC BY-NC-SA 4.0
    img[style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="Creative Commons icon"]
    img[style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt="Creative Commons attribution icon"]
    img[style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1" alt="Creative Commons non-commercial icon"]
    img[style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" alt="Creative Commons share alike icon"]
  span
    = " &#169;  #{Date.today.year} Sean Loughman. "
  span Last updated: <time>#{File.mtime(Pathname.new("./source/partials/_ztalc.slim")).strftime("%e %B %Y")}</time>.
