head
  meta[charset="utf-8"]
  meta[http-equiv="x-ua-compatible" content="ie=edge"]
  meta[name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"]
  link[rel="shortcut icon" href="favicon.ico" type="image/x-icon"]
  meta[name="author" content="Sean Loughman"]
  meta[name="description" content="An interactive infographic of historical Chinese Zen teachers and their lineage, showing dharma ancestors and descendants, presented chronologically. Chan schools are also shown."]
  meta[name="robots" content="index, follow"]
  meta[name="msapplication-TileColor" content="#fecd21"]
  meta[name="theme-color" content="#ffffff"]
  link[rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"]
  link[rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"]
  link[rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"]
  link[rel="manifest" href="/site.webmanifest"]
  link[rel="mask-icon" href="/safari-pinned-tab.svg" color="#ab3b3a"]
