details#legend (open)
  summary#legend-header Legend
  #legend-body
    noscript Please enable Javascript to view lineages.
    p Click on teachers to see their lineage. Gradient indicates unknown date.
    #teachers-legend
      ul
        li#default-legend Default
        li#ancestors-legend Ancestor
        li.breakpoint
        li#selected-legend Selected
        li#descendants-legend Descendant
    .schools-legend
      h2 Schools
      ul
        li#east-mtn-school-legend
          | East Mountain
          span 東
        li#northern-school-legend
          | Northern
          span 北
        li.breakpoint
        li#oxhead-school-legend
          | Oxhead
          span 牛
        li#sichuan-school-legend
          | Sichuan
          span 浄
        li#heze-school-legend
          | Heze
          span 荷
    .schools-legend.five-schools-legend
      h2 "Five Schools"
      ul
        li#guiyang-school-legend Guiyang
        li#yunmen-school-legend Yunmen
        li#fayan-school-legend Fayan
        li.breakpoint
        li#linji-school-legend Linji
        li#caodong-school-legend Caodong
