header
  nav
    ul
      li#title
        = link_to "/" do
          = image_tag("logo_compressed.svg", class: "logo", alt: "")
          h1 Zen Timeline and Lineage Charts
      li
        = link_to "About", "about"
