      #visualization[alt="A timeline of certain recorded Chinese Zen teachers from Bodhidharma to the Song dynasty. Lineages are shown dynamically by clicking on teachers." style="position: relative;"]
        .vis-timeline.vis-bottom.vis-ltr[style="touch-action: auto; user-select: none; visibility: visible; height: 2250px; width: 2300px;"]
          .vis-panel.vis-background[style="height: 2250px; width: 2300px; left: 0px; top: 0px;"]
          .vis-panel.vis-background.vis-vertical[style="height: 2250px; width: 2302px; left: 0px; top: 0px;"]
            .vis-axis[style="top: 26px; left: 0px;"]
              .vis-group.dynasty-group
              .vis-group.teacher-group
            .vis-time-axis.vis-background
              .vis-grid.vis-vertical.vis-minor.vis-odd[style="width: 135.412px; height: 2225px; transform: translate(-0.5px, 25px);"]
              .vis-grid.vis-vertical.vis-minor.vis-even[style="width: 135.412px; height: 2225px; transform: translate(134.912px, 25px);"]
              .vis-grid.vis-vertical.vis-minor.vis-odd[style="width: 135.412px; height: 2225px; transform: translate(270.324px, 25px);"]
              .vis-grid.vis-vertical.vis-minor.vis-even[style="width: 135.412px; height: 2225px; transform: translate(405.735px, 25px);"]
              .vis-grid.vis-vertical.vis-minor.vis-odd[style="width: 135.412px; height: 2225px; transform: translate(541.147px, 25px);"]
              .vis-grid.vis-vertical.vis-minor.vis-even[style="width: 135.412px; height: 2225px; transform: translate(676.559px, 25px);"]
              .vis-grid.vis-vertical.vis-minor.vis-odd[style="width: 135.412px; height: 2225px; transform: translate(811.971px, 25px);"]
              .vis-grid.vis-vertical.vis-minor.vis-even[style="width: 135.412px; height: 2225px; transform: translate(947.382px, 25px);"]
              .vis-grid.vis-vertical.vis-minor.vis-odd[style="width: 135.412px; height: 2225px; transform: translate(1082.79px, 25px);"]
              .vis-grid.vis-vertical.vis-minor.vis-even[style="width: 135.412px; height: 2225px; transform: translate(1218.21px, 25px);"]
              .vis-grid.vis-vertical.vis-minor.vis-odd[style="width: 135.412px; height: 2225px; transform: translate(1353.62px, 25px);"]
              .vis-grid.vis-vertical.vis-minor.vis-even[style="width: 135.412px; height: 2225px; transform: translate(1489.03px, 25px);"]
              .vis-grid.vis-vertical.vis-minor.vis-odd[style="width: 135.412px; height: 2225px; transform: translate(1624.44px, 25px);"]
              .vis-grid.vis-vertical.vis-minor.vis-even[style="width: 135.412px; height: 2225px; transform: translate(1759.85px, 25px);"]
              .vis-grid.vis-vertical.vis-minor.vis-odd[style="width: 135.412px; height: 2225px; transform: translate(1895.26px, 25px);"]
              .vis-grid.vis-vertical.vis-minor.vis-even[style="width: 135.412px; height: 2225px; transform: translate(2030.68px, 25px);"]
              .vis-grid.vis-vertical.vis-minor.vis-odd[style="width: 135.412px; height: 2225px; transform: translate(2166.09px, 25px);"]
              .vis-grid.vis-vertical.vis-minor.vis-even[style="width: 135.412px; height: 2225px; transform: translate(2301.5px, 25px);"]
            .vis-time-axis.vis-background
              .vis-grid.vis-vertical.vis-minor.vis-odd[style="width: 135.412px; height: 2225px; transform: translate(-0.5px);"]
              .vis-grid.vis-vertical.vis-minor.vis-even[style="width: 135.412px; height: 2225px; transform: translate(134.912px);"]
              .vis-grid.vis-vertical.vis-minor.vis-odd[style="width: 135.412px; height: 2225px; transform: translate(270.324px);"]
              .vis-grid.vis-vertical.vis-minor.vis-even[style="width: 135.412px; height: 2225px; transform: translate(405.735px);"]
              .vis-grid.vis-vertical.vis-minor.vis-odd[style="width: 135.412px; height: 2225px; transform: translate(541.147px);"]
              .vis-grid.vis-vertical.vis-minor.vis-even[style="width: 135.412px; height: 2225px; transform: translate(676.559px);"]
              .vis-grid.vis-vertical.vis-minor.vis-odd[style="width: 135.412px; height: 2225px; transform: translate(811.971px);"]
              .vis-grid.vis-vertical.vis-minor.vis-even[style="width: 135.412px; height: 2225px; transform: translate(947.382px);"]
              .vis-grid.vis-vertical.vis-minor.vis-odd[style="width: 135.412px; height: 2225px; transform: translate(1082.79px);"]
              .vis-grid.vis-vertical.vis-minor.vis-even[style="width: 135.412px; height: 2225px; transform: translate(1218.21px);"]
              .vis-grid.vis-vertical.vis-minor.vis-odd[style="width: 135.412px; height: 2225px; transform: translate(1353.62px);"]
              .vis-grid.vis-vertical.vis-minor.vis-even[style="width: 135.412px; height: 2225px; transform: translate(1489.03px);"]
              .vis-grid.vis-vertical.vis-minor.vis-odd[style="width: 135.412px; height: 2225px; transform: translate(1624.44px);"]
              .vis-grid.vis-vertical.vis-minor.vis-even[style="width: 135.412px; height: 2225px; transform: translate(1759.85px);"]
              .vis-grid.vis-vertical.vis-minor.vis-odd[style="width: 135.412px; height: 2225px; transform: translate(1895.26px);"]
              .vis-grid.vis-vertical.vis-minor.vis-even[style="width: 135.412px; height: 2225px; transform: translate(2030.68px);"]
              .vis-grid.vis-vertical.vis-minor.vis-odd[style="width: 135.412px; height: 2225px; transform: translate(2166.09px);"]
              .vis-grid.vis-vertical.vis-minor.vis-even[style="width: 135.412px; height: 2225px; transform: translate(2301.5px);"]
          .vis-panel.vis-background.vis-horizontal[style="height: 2200px; width: 2300px; left: 0px; top: 25px;"]
          .vis-panel.vis-center[style="touch-action: auto; user-select: none; height: 2200px; width: 2302px; left: -1px; top: 25px;"]
            .vis-content[style="left: 0px; transform: translateY(0px);"]
              .vis-itemset[style="height: 2139px;"]
                .vis-background
                  .vis-group[style="height: 0px;"]
                  .vis-group.dynasty-group[style="height: 5px;"]
                    .vis-item.vis-background.northern-southern.dynasty[style="transform: translateX(-81.2471px); width: 457.692px; top: 0px; height: 5px;"]
                      .vis-item-overflow
                        .vis-item-content[style="transform: translateX(81.2471px);"]
                          | Northern & Southern
                    .vis-item.vis-background.sui-dynasty.dynasty[style="transform: translateX(354.779px); width: 100.205px; top: 0px; height: 5px;"]
                      .vis-item-overflow
                        .vis-item-content
                          | Sui
                    .vis-item.vis-background.tang-dynasty.dynasty[style="transform: translateX(454.984px); width: 782.68px; top: 0px; height: 5px;"]
                      .vis-item-overflow
                        .vis-item-content
                          | Tang
                    .vis-item.vis-background.ten-kingdoms.dynasty[style="transform: translateX(1237.66px); width: 194.993px; top: 0px; height: 5px;"]
                      .vis-item-overflow
                        .vis-item-content
                          | Five Dynasties &
                          br
                          |  Ten Kingdoms
                    .vis-item.vis-background.northern-song.dynasty[style="transform: translateX(1381.2px); width: 452.275px; top: 0px; height: 5px;"]
                      .vis-item-overflow
                        .vis-item-content
                          | Northern Song
                    .vis-item.vis-background.southern-song.dynasty[style="transform: translateX(1833.48px); width: 411.652px; top: 0px; height: 5px;"]
                      .vis-item-overflow
                        .vis-item-content
                          | Southern Song
                    .vis-item.vis-background.liao.dynasty[style="transform: translateX(1262.04px); width: 566.021px; top: 0px; height: 5px;"]
                      .vis-item-overflow
                        .vis-item-content
                          | Khitan/Liao
                    .vis-item.vis-background.jin.dynasty[style="transform: translateX(1800.98px); width: 322.28px; top: 0px; height: 5px;"]
                      .vis-item-overflow
                        .vis-item-content
                          | Jin
                    .vis-item.vis-background.qara-khitai.dynasty[style="transform: translateX(1825.35px); width: 254.574px; top: 0px; height: 5px;"]
                      .vis-item-overflow
                        .vis-item-content
                          | Qara Khitai
                    .vis-item.vis-background.mongol.dynasty[style="transform: translateX(2047.43px); width: 438.734px; top: 0px; height: 5px;"]
                      .vis-item-overflow
                        .vis-item-content
                          | Mongol Empire
                    .vis-item.vis-background.yuan.dynasty[style="transform: translateX(2223.46px); width: 262.699px; top: 0px; height: 5px;"]
                      .vis-item-overflow
                        .vis-item-content
                          | Yuan
                  .vis-group.teacher-group[style="height: 2134px;"]
                .vis-foreground
                  .vis-group.dynasty-group[style="height: 5px;"]
                  = partial "partials/ztalc-teachers"
          .vis-panel.vis-right[style="height: 2200px; left: 2301px; top: 25px;"]
            .vis-content[style="left: 0px; top: 0px;"]
          .vis-panel.vis-top[style="width: 2302px; left: -1px; top: 0px;"]
            .vis-time-axis.vis-foreground[style="height: 25px;"]
              .vis-text.vis-minor.vis-measure[style="position: absolute;"]
                | 0
              .vis-text.vis-major.vis-measure[style="position: absolute;"]
                | 0
              .vis-text.vis-minor.vis-odd[style="transform: translate(0px); width: 135.412px;"]
                | 450
              .vis-text.vis-minor.vis-even[style="transform: translate(135.412px); width: 135.412px;"]
                | 500
              .vis-text.vis-minor.vis-odd[style="transform: translate(270.824px); width: 135.412px;"]
                | 550
              .vis-text.vis-minor.vis-even[style="transform: translate(406.235px); width: 135.412px;"]
                | 600
              .vis-text.vis-minor.vis-odd[style="transform: translate(541.647px); width: 135.412px;"]
                | 650
              .vis-text.vis-minor.vis-even[style="transform: translate(677.059px); width: 135.412px;"]
                | 700
              .vis-text.vis-minor.vis-odd[style="transform: translate(812.471px); width: 135.412px;"]
                | 750
              .vis-text.vis-minor.vis-even[style="transform: translate(947.882px); width: 135.412px;"]
                | 800
              .vis-text.vis-minor.vis-odd[style="transform: translate(1083.29px); width: 135.412px;"]
                | 850
              .vis-text.vis-minor.vis-even[style="transform: translate(1218.71px); width: 135.412px;"]
                | 900
              .vis-text.vis-minor.vis-odd[style="transform: translate(1354.12px); width: 135.412px;"]
                | 950
              .vis-text.vis-minor.vis-even[style="transform: translate(1489.53px); width: 135.412px;"]
                | 1000
              .vis-text.vis-minor.vis-odd[style="transform: translate(1624.94px); width: 135.412px;"]
                | 1050
              .vis-text.vis-minor.vis-even[style="transform: translate(1760.35px); width: 135.412px;"]
                | 1100
              .vis-text.vis-minor.vis-odd[style="transform: translate(1895.76px); width: 135.412px;"]
                | 1150
              .vis-text.vis-minor.vis-even[style="transform: translate(2031.18px); width: 135.412px;"]
                | 1200
              .vis-text.vis-minor.vis-odd[style="transform: translate(2166.59px); width: 135.412px;"]
                | 1250
              .vis-text.vis-minor.vis-even[style="transform: translate(2302px); width: 135.412px;"]
                | 1300
          .vis-panel.vis-bottom[style="width: 2302px; left: -1px; top: 2225px;"]
            .vis-time-axis.vis-foreground[style="height: 25px;"]
              .vis-text.vis-minor.vis-measure[style="position: absolute;"]
                | 0
              .vis-text.vis-major.vis-measure[style="position: absolute;"]
                | 0
              .vis-text.vis-minor.vis-odd[style="transform: translate(0px); width: 135.412px;"]
                | 450
              .vis-text.vis-minor.vis-even[style="transform: translate(135.412px); width: 135.412px;"]
                | 500
              .vis-text.vis-minor.vis-odd[style="transform: translate(270.824px); width: 135.412px;"]
                | 550
              .vis-text.vis-minor.vis-even[style="transform: translate(406.235px); width: 135.412px;"]
                | 600
              .vis-text.vis-minor.vis-odd[style="transform: translate(541.647px); width: 135.412px;"]
                | 650
              .vis-text.vis-minor.vis-even[style="transform: translate(677.059px); width: 135.412px;"]
                | 700
              .vis-text.vis-minor.vis-odd[style="transform: translate(812.471px); width: 135.412px;"]
                | 750
              .vis-text.vis-minor.vis-even[style="transform: translate(947.882px); width: 135.412px;"]
                | 800
              .vis-text.vis-minor.vis-odd[style="transform: translate(1083.29px); width: 135.412px;"]
                | 850
              .vis-text.vis-minor.vis-even[style="transform: translate(1218.71px); width: 135.412px;"]
                | 900
              .vis-text.vis-minor.vis-odd[style="transform: translate(1354.12px); width: 135.412px;"]
                | 950
              .vis-text.vis-minor.vis-even[style="transform: translate(1489.53px); width: 135.412px;"]
                | 1000
              .vis-text.vis-minor.vis-odd[style="transform: translate(1624.94px); width: 135.412px;"]
                | 1050
              .vis-text.vis-minor.vis-even[style="transform: translate(1760.35px); width: 135.412px;"]
                | 1100
              .vis-text.vis-minor.vis-odd[style="transform: translate(1895.76px); width: 135.412px;"]
                | 1150
              .vis-text.vis-minor.vis-even[style="transform: translate(2031.18px); width: 135.412px;"]
                | 1200
              .vis-text.vis-minor.vis-odd[style="transform: translate(2166.59px); width: 135.412px;"]
                | 1250
              .vis-text.vis-minor.vis-even[style="transform: translate(2302px); width: 135.412px;"]
                | 1300
