.vis-group.teacher-group[style="height: 2134px;"]
  #0.vis-item.vis-range.left-fade.teacher[data-descendant_ids="1" data-item_id="0" style="transform: translateX(54.1647px); width: 162.494px; top: 5px;"]
    .vis-item-overflow
      .vis-item-content
        | Bodhidharma
    .vis-item-visible-frame
  #1.vis-item.vis-range.right-fade.teacher[data-descendant_ids="2" data-item_id="1" style="transform: translateX(100.205px); width: 197.701px; top: 44px;"]
    .vis-item-overflow
      .vis-item-content
        | Dazu Huike
    .vis-item-visible-frame
  #2.vis-item.vis-range.left-fade.teacher[data-descendant_ids="3" data-item_id="2" style="transform: translateX(243.741px); width: 178.744px; top: 5px;"]
    .vis-item-overflow
      .vis-item-content
        | Jianzhi Sengcan
    .vis-item-visible-frame
  #3.vis-item.vis-range.east-mtn-school.teacher[data-descendant_ids="4,5" data-item_id="3" style="transform: translateX(352.071px); width: 192.285px; top: 44px;"]
    .vis-item-overflow
      .vis-item-content
        span
          | Dayi Daoxin
        span
          | 東
    .vis-item-visible-frame
  #4.vis-item.vis-range.east-mtn-school.teacher[data-descendant_ids="60,61,62,63" data-item_id="4" style="transform: translateX(408.944px); width: 197.701px; top: 85px;"]
    .vis-item-overflow
      .vis-item-content
        span
          | Daman Hongren
        span
          | 東
    .vis-item-visible-frame
  #5.vis-item.vis-range.oxhead-school.teacher[data-descendant_ids="" data-item_id="5" style="transform: translateX(389.986px); width: 170.619px; top: 126px;"]
    .vis-item-overflow
      .vis-item-content
        span
          | Niutou Farong
        span
          | 牛
    .vis-item-visible-frame
  #60.vis-item.vis-range.left-fade.northern-school.teacher[data-descendant_ids="70" data-item_id="60" style="transform: translateX(501.024px); width: 192.285px; top: 167px;"]
    .vis-item-overflow
      .vis-item-content
        span
          | Yuquan Shenxiu, ‘Datong’
        span
          | 北
    .vis-item-visible-frame
  #61.vis-item.vis-range.east-mtn-school.teacher[data-descendant_ids="71,72,73,75,76" data-item_id="61" style="transform: translateX(509.148px); width: 203.118px; top: 208px;"]
    .vis-item-overflow
      .vis-item-content
        span
          | Huineng
        span
          | 東
    .vis-item-visible-frame
  #62.vis-item.vis-range.northern-school.teacher[data-descendant_ids="" data-item_id="62" style="transform: translateX(509.148px); width: 138.12px; top: 249px;"]
    .vis-item-overflow
      .vis-item-content
        span
          | Faru
        span
          | 北
    .vis-item-visible-frame
  #63.vis-item.vis-range.sichuan-school.teacher[data-descendant_ids="74" data-item_id="63" style="transform: translateX(430.609px); width: 251.866px; top: 290px;"]
    .vis-item-overflow
      .vis-item-content
        span
          | Zizhou Zhishen
        span
          | 浄
    .vis-item-visible-frame
  #70.vis-item.vis-range.northern-school.teacher[data-descendant_ids="803" data-item_id="70" style="transform: translateX(509.148px); width: 203.118px; top: 331px;"]
    .vis-item-overflow
      .vis-item-content
        span
          | Songshan Puji
        span
          | 北
    .vis-item-visible-frame
  #71.vis-item.vis-range.teacher[data-descendant_ids="800" data-item_id="71" style="transform: translateX(614.769px); width: 181.452px; top: 5px;"]
    .vis-item-overflow
      .vis-item-content
        | Nanyue Huairang
    .vis-item-visible-frame
  #72.vis-item.vis-range.teacher[data-descendant_ids="802" data-item_id="72" style="transform: translateX(568.729px); width: 216.659px; top: 44px;"]
    .vis-item-overflow
      .vis-item-content
        | Qingyuan Xingsi
    .vis-item-visible-frame
  #73.vis-item.vis-range.national-teacher.teacher[data-descendant_ids="801" data-item_id="73" style="transform: translateX(609.353px); width: 270.824px; top: 126px;"]
    .vis-item-overflow
      .vis-item-content
        | Nanyang Huizhong
    .vis-item-visible-frame
  #74.vis-item.vis-range.sichuan-school.teacher[data-descendant_ids="804" data-item_id="74" style="transform: translateX(536.231px); width: 232.908px; top: 372px;"]
    .vis-item-overflow
      .vis-item-content
        span
          | Zizhou Chuji
        span
          | 浄
    .vis-item-visible-frame
  #75.vis-item.vis-range.teacher[data-descendant_ids="" data-item_id="75" style="transform: translateX(582.271px); width: 129.995px; top: 413px;"]
    .vis-item-overflow
      .vis-item-content
        | Yongia Xuanjue
    .vis-item-visible-frame
  #76.vis-item.vis-range.heze-school.teacher[data-descendant_ids="805" data-item_id="76" style="transform: translateX(595.812px); width: 249.158px; top: 452px;"]
    .vis-item-overflow
      .vis-item-content
        span
          | Heze Shenhui
        span
          | 荷
    .vis-item-visible-frame
  #800.vis-item.vis-range.teacher[data-descendant_ids="900,901,902,903,904,905,906,907,908,909,910,911,912,913,918" data-item_id="800" style="transform: translateX(701.433px); width: 213.951px; top: 83px;"]
    .vis-item-overflow
      .vis-item-content
        | Mazu Daoyi, ‘Daji’
    .vis-item-visible-frame
  #801.vis-item.vis-range.both-fade.teacher[data-descendant_ids="" data-item_id="801" style="transform: translateX(758.306px); width: 203.118px; top: 165px;"]
    .vis-item-overflow
      .vis-item-content
        | Danyuan Yingzhen
    .vis-item-visible-frame
  #802.vis-item.vis-range.teacher[data-descendant_ids="914,915,916" data-item_id="802" style="transform: translateX(677.059px); width: 243.741px; top: 249px;"]
    .vis-item-overflow
      .vis-item-content
        | Shitou Xiqian
    .vis-item-visible-frame
  #803.vis-item.vis-range.northern-school.teacher[data-descendant_ids="" data-item_id="803" style="transform: translateX(704.141px); width: 243.741px; top: 288px;"]
    .vis-item-overflow
      .vis-item-content
        span
          | Dingzhou Shizang
        span
          | 北
    .vis-item-visible-frame
  #804.vis-item.vis-range.sichuan-school.teacher[data-descendant_ids="917" data-item_id="804" style="transform: translateX(633.727px); width: 211.242px; top: 493px;"]
    .vis-item-overflow
      .vis-item-content
        span
          | Jingzhong Wuxiang
        span
          | 浄
    .vis-item-visible-frame
  #805.vis-item.vis-range.heze-school.teacher[data-descendant_ids="" data-item_id="805" style="transform: translateX(739.348px); width: 238.325px; top: 204px;"]
    .vis-item-overflow
      .vis-item-content
        span
          | Cizhou Faru
        span
          | 荷
    .vis-item-visible-frame
  #900.vis-item.vis-range.teacher[data-descendant_ids="1000,1001,1002,1003,1004" data-item_id="900" style="transform: translateX(731.224px); width: 254.574px; top: 329px;"]
    .vis-item-overflow
      .vis-item-content
        | Baizhang Huaihai
    .vis-item-visible-frame
  #901.vis-item.vis-range.teacher[data-descendant_ids="" data-item_id="901" style="transform: translateX(771.847px); width: 213.951px; top: 413px;"]
    .vis-item-overflow
      .vis-item-content
        | Xitang Zhizang
    .vis-item-visible-frame
  #902.vis-item.vis-range.both-fade.teacher[data-descendant_ids="" data-item_id="902" style="transform: translateX(731.224px); width: 254.574px; top: 534px;"]
    .vis-item-overflow
      .vis-item-content
        | Daju Huihai, ‘Great Pearl’
    .vis-item-visible-frame
  #903.vis-item.vis-range.teacher[data-descendant_ids="" data-item_id="903" style="transform: translateX(828.72px); width: 159.786px; top: 5px;"]
    .vis-item-overflow
      .vis-item-content
        | Zhangjing Huaiyun
    .vis-item-visible-frame
  #904.vis-item.vis-range.teacher[data-descendant_ids="1005" data-item_id="904" style="transform: translateX(812.471px); width: 249.158px; top: 44px;"]
    .vis-item-overflow
      .vis-item-content
        | Yanguan Q'ian
    .vis-item-visible-frame
  #905.vis-item.vis-range.teacher[data-descendant_ids="1006" data-item_id="905" style="transform: translateX(817.887px); width: 235.616px; top: 368px;"]
    .vis-item-overflow
      .vis-item-content
        | Damei Fachang
    .vis-item-visible-frame
  #906.vis-item.vis-range.both-fade.teacher[data-descendant_ids="1015" data-item_id="906" style="transform: translateX(812.471px); width: 216.659px; top: 573px;"]
    .vis-item-overflow
      .vis-item-content
        | Guizong Zhichang
    .vis-item-visible-frame
  #907.vis-item.vis-range.teacher[data-descendant_ids="" data-item_id="907" style="transform: translateX(785.388px); width: 184.16px; top: 612px;"]
    .vis-item-overflow
      .vis-item-content
        | Layman Pang
    .vis-item-visible-frame
  #908.vis-item.vis-range.both-fade.teacher[data-descendant_ids="" data-item_id="908" style="transform: translateX(798.929px); width: 216.659px; top: 651px;"]
    .vis-item-overflow
      .vis-item-content
        | Mayu Baoche
    .vis-item-visible-frame
  #909.vis-item.vis-range.teacher[data-descendant_ids="" data-item_id="909" style="transform: translateX(731.224px); width: 254.574px; top: 690px;"]
    .vis-item-overflow
      .vis-item-content
        | Panshan Baoji
    .vis-item-visible-frame
  #910.vis-item.vis-range.both-fade.teacher[data-descendant_ids="" data-item_id="910" style="transform: translateX(798.929px); width: 205.826px; top: 729px;"]
    .vis-item-overflow
      .vis-item-content
        | Luzu Baoyun
    .vis-item-visible-frame
  #911.vis-item.vis-range.both-fade.teacher[data-descendant_ids="" data-item_id="911" style="transform: translateX(790.805px); width: 230.2px; top: 768px;"]
    .vis-item-overflow
      .vis-item-content
        | Zhongyi Hongen
    .vis-item-visible-frame
  #912.vis-item.vis-range.both-fade.teacher[data-descendant_ids="" data-item_id="912" style="transform: translateX(798.929px); width: 216.659px; top: 807px;"]
    .vis-item-overflow
      .vis-item-content
        | Wujiu Youxuan
    .vis-item-visible-frame
  #913.vis-item.vis-range.teacher[data-descendant_ids="1007,1008" data-item_id="913" style="transform: translateX(807.054px); width: 235.616px; top: 846px;"]
    .vis-item-overflow
      .vis-item-content
        | Nanquan Puyuan ‘Old Teacher Wang’
    .vis-item-visible-frame
  #914.vis-item.vis-range.teacher[data-descendant_ids="1009,1010,1011" data-item_id="914" style="transform: translateX(815.179px); width: 224.784px; top: 885px;"]
    .vis-item-overflow
      .vis-item-content
        | Yaoshan Weiyan
    .vis-item-visible-frame
  #915.vis-item.vis-range.teacher[data-descendant_ids="1012" data-item_id="915" style="transform: translateX(782.68px); width: 230.2px; top: 924px;"]
    .vis-item-overflow
      .vis-item-content
        | Danxia Tiaran
    .vis-item-visible-frame
  #916.vis-item.vis-range.teacher[data-descendant_ids="1013" data-item_id="916" style="transform: translateX(807.054px); width: 159.786px; top: 963px;"]
    .vis-item-overflow
      .vis-item-content
        | Tianhuang Daowu
    .vis-item-visible-frame
  #917.vis-item.vis-range.sichuan-school.teacher[data-descendant_ids="1016" data-item_id="917" style="transform: translateX(731.224px); width: 200.409px; top: 1002px;"]
    .vis-item-overflow
      .vis-item-content
        span
          | Jingzhong Shenhui
        span
          | 浄
    .vis-item-visible-frame
  #918.vis-item.vis-range.teacher[data-descendant_ids="" data-item_id="918" style="transform: translateX(844.969px); width: 124.579px; top: 1043px;"]
    .vis-item-overflow
      .vis-item-content
        | Lingzhao
    .vis-item-visible-frame
  #1000.vis-item.vis-range.left-fade.teacher[data-descendant_ids="1100,1101" data-item_id="1000" style="transform: translateX(893.718px); width: 189.576px; top: 122px;"]
    .vis-item-overflow
      .vis-item-content
        | Huangbo Xiyun
    .vis-item-visible-frame
  #1001.vis-item.vis-range.both-fade.teacher[data-descendant_ids="" data-item_id="1001" style="transform: translateX(812.471px); width: 189.576px; top: 1082px;"]
    .vis-item-overflow
      .vis-item-content
        | Wufeng Changguan
    .vis-item-visible-frame
  #1002.vis-item.vis-range.teacher[data-descendant_ids="1102" data-item_id="1002" style="transform: translateX(928.925px); width: 243.741px; top: 83px;"]
    .vis-item-overflow
      .vis-item-content
        | Guishan ‘Changqing’ Da'an
    .vis-item-visible-frame
  #1003.vis-item.vis-range.both-fade.teacher[data-descendant_ids="" data-item_id="1003" style="transform: translateX(812.471px); width: 189.576px; top: 1121px;"]
    .vis-item-overflow
      .vis-item-content
        | Baizhang Niepan, ‘Fazheng’
    .vis-item-visible-frame
  #1004.vis-item.vis-range.guiyang-school.teacher[data-descendant_ids="1103,1104,1105,1106,1107" data-item_id="1004" style="transform: translateX(869.344px); width: 222.075px; top: 452px;"]
    .vis-item-overflow
      .vis-item-content
        | Guishan Lingyou
    .vis-item-visible-frame
  #1005.vis-item.vis-range.both-fade.teacher[data-descendant_ids="" data-item_id="1005" style="transform: translateX(866.635px); width: 189.576px; top: 491px;"]
    .vis-item-overflow
      .vis-item-content
        | Guannan Daochang
    .vis-item-visible-frame
  #1006.vis-item.vis-range.both-fade.teacher[data-descendant_ids="1108" data-item_id="1006" style="transform: translateX(947.882px); width: 189.576px; top: 245px;"]
    .vis-item-overflow
      .vis-item-content
        | Hangzhou Tianlong
    .vis-item-visible-frame
  #1007.vis-item.vis-range.left-fade.teacher[data-descendant_ids="" data-item_id="1007" style="transform: translateX(947.882px); width: 184.16px; top: 1002px;"]
    .vis-item-overflow
      .vis-item-content
        | Changsha ‘Tiger’ Jingcen
    .vis-item-visible-frame
  #1008.vis-item.vis-range.teacher[data-descendant_ids="1110" data-item_id="1008" style="transform: translateX(888.301px); width: 322.28px; top: 1160px;"]
    .vis-item-overflow
      .vis-item-content
        | Zhaozhou Congshen
    .vis-item-visible-frame
  #1009.vis-item.vis-range.teacher[data-descendant_ids="1111" data-item_id="1009" style="transform: translateX(893.718px); width: 165.202px; top: 1199px;"]
    .vis-item-overflow
      .vis-item-content
        | Yunyan Tansheng
    .vis-item-visible-frame
  #1010.vis-item.vis-range.teacher[data-descendant_ids="1113" data-item_id="1010" style="transform: translateX(961.424px); width: 205.826px; top: 284px;"]
    .vis-item-overflow
      .vis-item-content
        | Chuanzi Decheng
    .vis-item-visible-frame
  #1011.vis-item.vis-range.teacher[data-descendant_ids="1114" data-item_id="1011" style="transform: translateX(863.927px); width: 178.744px; top: 1238px;"]
    .vis-item-overflow
      .vis-item-content
        | Daowu Yuanzhi ‘Zongzhi’
    .vis-item-visible-frame
  #1012.vis-item.vis-range.both-fade.teacher[data-descendant_ids="1115" data-item_id="1012" style="transform: translateX(866.635px); width: 189.576px; top: 1277px;"]
    .vis-item-overflow
      .vis-item-content
        | Cuiwei Wuxue
    .vis-item-visible-frame
  #1013.vis-item.vis-range.both-fade.teacher[data-descendant_ids="1116" data-item_id="1013" style="transform: translateX(920.8px); width: 162.494px; top: 1316px;"]
    .vis-item-overflow
      .vis-item-content
        | Longtan Chongxin
    .vis-item-visible-frame
  #1015.vis-item.vis-range.both-fade.teacher[data-descendant_ids="1109" data-item_id="1015" style="transform: translateX(947.882px); width: 189.576px; top: 1355px;"]
    .vis-item-overflow
      .vis-item-content
        | Gao’an Dayu
    .vis-item-visible-frame
  #1016.vis-item.vis-range.both-fade.sichuan-school.teacher[data-descendant_ids="1112" data-item_id="1016" style="transform: translateX(812.471px); width: 216.659px; top: 1394px;"]
    .vis-item-overflow
      .vis-item-content
        span
          | Shengshou Nanyin
        span
          | 浄
    .vis-item-visible-frame
  #1100.vis-item.vis-range.right-fade.linji-school.teacher[data-descendant_ids="1200,1201,1202" data-item_id="1100" style="transform: translateX(947.882px); width: 178.744px; top: 1435px;"]
    .vis-item-overflow
      .vis-item-content
        | Linji Yixuan, ‘Huizhao’
    .vis-item-visible-frame
  #1101.vis-item.vis-range.teacher[data-descendant_ids="" data-item_id="1101" style="transform: translateX(893.718px); width: 262.699px; top: 1474px;"]
    .vis-item-overflow
      .vis-item-content
        | Muzhou Daoming, ‘Chen Zunsu’
    .vis-item-visible-frame
  #1102.vis-item.vis-range.teacher[data-descendant_ids="" data-item_id="1102" style="transform: translateX(1159.12px); width: 230.2px; top: 5px;"]
    .vis-item-overflow
      .vis-item-content
        | Dasui Fazhen, ‘Shenzhao’
    .vis-item-visible-frame
  #1103.vis-item.vis-range.both-fade.guiyang-school.teacher[data-descendant_ids="" data-item_id="1103" style="transform: translateX(947.882px); width: 189.576px; top: 1513px;"]
    .vis-item-overflow
      .vis-item-content
        | Lingyun Zhiqin
    .vis-item-visible-frame
  #1104.vis-item.vis-range.both-fade.guiyang-school.teacher[data-descendant_ids="" data-item_id="1104" style="transform: translateX(947.882px); width: 189.576px; top: 1552px;"]
    .vis-item-overflow
      .vis-item-content
        | Jingzhao Mihu
    .vis-item-visible-frame
  #1105.vis-item.vis-range.guiyang-school.teacher[data-descendant_ids="1203,1204" data-item_id="1105" style="transform: translateX(966.84px); width: 205.826px; top: 1591px;"]
    .vis-item-overflow
      .vis-item-content
        | Yangshan Huiji
    .vis-item-visible-frame
  #1106.vis-item.vis-range.right-fade.guiyang-school.teacher[data-descendant_ids="" data-item_id="1106" style="transform: translateX(1002.05px); width: 211.242px; top: 161px;"]
    .vis-item-overflow
      .vis-item-content
        | Xiangyan Zhixian
    .vis-item-visible-frame
  #1107.vis-item.vis-range.both-fade.guiyang-school.teacher[data-descendant_ids="" data-item_id="1107" style="transform: translateX(893.718px); width: 213.951px; top: 1630px;"]
    .vis-item-overflow
      .vis-item-content
        | Liu Tiemo, ‘Iron Grinder Liu’
    .vis-item-visible-frame
  #1108.vis-item.vis-range.both-fade.teacher[data-descendant_ids="" data-item_id="1108" style="transform: translateX(1029.13px); width: 189.576px; top: 200px;"]
    .vis-item-overflow
      .vis-item-content
        | Jinhua Juzhi
    .vis-item-visible-frame
  #1109.vis-item.vis-range.both-fade.teacher[data-descendant_ids="" data-item_id="1109" style="transform: translateX(1029.13px); width: 189.576px; top: 323px;"]
    .vis-item-overflow
      .vis-item-content
        | Moshan Liaoran
    .vis-item-visible-frame
  #1110.vis-item.vis-range.both-fade.teacher[data-descendant_ids="" data-item_id="1110" style="transform: translateX(1029.13px); width: 189.576px; top: 407px;"]
    .vis-item-overflow
      .vis-item-content
        | Yanyang Shanzhao
    .vis-item-visible-frame
  #1111.vis-item.vis-range.caodong-school.teacher[data-descendant_ids="1205,1206,1207,1208,1209,1210,1211" data-item_id="1111" style="transform: translateX(966.84px); width: 167.911px; top: 1669px;"]
    .vis-item-overflow
      .vis-item-content
        | Dongshan Liangjie
    .vis-item-visible-frame
  #1112.vis-item.vis-range.both-fade.sichuan-school.teacher[data-descendant_ids="" data-item_id="1112" style="transform: translateX(947.882px); width: 216.659px; top: 1708px;"]
    .vis-item-overflow
      .vis-item-content
        span
          | Suizhou Daoyuan
        span
          | 浄
    .vis-item-visible-frame
  #1113.vis-item.vis-range.both-fade.teacher[data-descendant_ids="1212" data-item_id="1113" style="transform: translateX(950.591px); width: 216.659px; top: 1749px;"]
    .vis-item-overflow
      .vis-item-content
        | Jiashan Shanhui
    .vis-item-visible-frame
  #1114.vis-item.vis-range.teacher[data-descendant_ids="1213,1214" data-item_id="1114" style="transform: translateX(966.84px); width: 219.367px; top: 1788px;"]
    .vis-item-overflow
      .vis-item-content
        | Shishuang Qingzhu
    .vis-item-visible-frame
  #1115.vis-item.vis-range.teacher[data-descendant_ids="" data-item_id="1115" style="transform: translateX(999.339px); width: 257.282px; top: 530px;"]
    .vis-item-overflow
      .vis-item-content
        | Touzi Datong
    .vis-item-visible-frame
  #1116.vis-item.vis-range.teacher[data-descendant_ids="1215,1216" data-item_id="1116" style="transform: translateX(899.134px); width: 224.784px; top: 1827px;"]
    .vis-item-overflow
      .vis-item-content
        | Deshan Xuanjian
    .vis-item-visible-frame
  #1200.vis-item.vis-range.linji-school.teacher[data-descendant_ids="1300" data-item_id="1200" style="transform: translateX(1029.13px); width: 157.078px; top: 612px;"]
    .vis-item-overflow
      .vis-item-content
        | Xinghua Cunjiang
    .vis-item-visible-frame
  #1201.vis-item.vis-range.both-fade.linji-school.teacher[data-descendant_ids="1301" data-item_id="1201" style="transform: translateX(1029.13px); width: 162.494px; top: 651px;"]
    .vis-item-overflow
      .vis-item-content
        | Baoshou Yanzhao
    .vis-item-visible-frame
  #1202.vis-item.vis-range.both-fade.linji-school.teacher[data-descendant_ids="" data-item_id="1202" style="transform: translateX(1056.21px); width: 162.494px; top: 569px;"]
    .vis-item-overflow
      .vis-item-content
        | Sansheng Huiran
    .vis-item-visible-frame
  #1203.vis-item.vis-range.both-fade.guiyang-school.teacher[data-descendant_ids="1302" data-item_id="1203" style="transform: translateX(1056.21px); width: 189.576px; top: 690px;"]
    .vis-item-overflow
      .vis-item-content
        | Xita Guangmu
    .vis-item-visible-frame
  #1204.vis-item.vis-range.guiyang-school.teacher[data-descendant_ids="1303" data-item_id="1204" style="transform: translateX(1083.29px); width: 238.325px; top: 44px;"]
    .vis-item-overflow
      .vis-item-content
        | Nanta Guangyong
    .vis-item-visible-frame
  #1205.vis-item.vis-range.right-fade.caodong-school.teacher[data-descendant_ids="1304" data-item_id="1205" style="transform: translateX(1029.13px); width: 194.993px; top: 729px;"]
    .vis-item-overflow
      .vis-item-content
        | Yunju Daoying
    .vis-item-visible-frame
  #1206.vis-item.vis-range.both-fade.caodong-school.teacher[data-descendant_ids="" data-item_id="1206" style="transform: translateX(1056.21px); width: 162.494px; top: 768px;"]
    .vis-item-overflow
      .vis-item-content
        | Qinshan Wensui
    .vis-item-visible-frame
  #1207.vis-item.vis-range.caodong-school.teacher[data-descendant_ids="" data-item_id="1207" style="transform: translateX(1042.67px); width: 238.325px; top: 807px;"]
    .vis-item-overflow
      .vis-item-content
        | Longya Judun
    .vis-item-visible-frame
  #1208.vis-item.vis-range.both-fade.caodong-school.teacher[data-descendant_ids="" data-item_id="1208" style="transform: translateX(1056.21px); width: 162.494px; top: 846px;"]
    .vis-item-overflow
      .vis-item-content
        | Yuezhou Qianfeng
    .vis-item-visible-frame
  #1209.vis-item.vis-range.caodong-school.teacher[data-descendant_ids="" data-item_id="1209" style="transform: translateX(1056.21px); width: 165.202px; top: 885px;"]
    .vis-item-overflow
      .vis-item-content
        | Caoshan Benji
    .vis-item-visible-frame
  #1210.vis-item.vis-range.right-fade.caodong-school.teacher[data-descendant_ids="" data-item_id="1210" style="transform: translateX(1029.13px); width: 200.409px; top: 924px;"]
    .vis-item-overflow
      .vis-item-content
        | Qinglin Qishian
    .vis-item-visible-frame
  #1211.vis-item.vis-range.both-fade.caodong-school.teacher[data-descendant_ids="1305" data-item_id="1211" style="transform: translateX(1029.13px); width: 216.659px; top: 963px;"]
    .vis-item-overflow
      .vis-item-content
        | Shushan Kuangren
    .vis-item-visible-frame
  #1212.vis-item.vis-range.teacher[data-descendant_ids="" data-item_id="1212" style="transform: translateX(1039.96px); width: 173.327px; top: 1041px;"]
    .vis-item-overflow
      .vis-item-content
        | Luopu Yuanan
    .vis-item-visible-frame
  #1213.vis-item.vis-range.both-fade.teacher[data-descendant_ids="" data-item_id="1213" style="transform: translateX(1029.13px); width: 162.494px; top: 1080px;"]
    .vis-item-overflow
      .vis-item-content
        | Jiufeng Daoqian
    .vis-item-visible-frame
  #1214.vis-item.vis-range.teacher[data-descendant_ids="" data-item_id="1214" style="transform: translateX(1048.09px); width: 178.744px; top: 1119px;"]
    .vis-item-overflow
      .vis-item-content
        | Daguang Juhui
    .vis-item-visible-frame
  #1215.vis-item.vis-range.teacher[data-descendant_ids="1306,1307,1308,1309,1310,1311,1312" data-item_id="1215" style="transform: translateX(1007.46px); width: 232.908px; top: 1866px;"]
    .vis-item-overflow
      .vis-item-content
        | Xuefeng Yicun
    .vis-item-visible-frame
  #1216.vis-item.vis-range.teacher[data-descendant_ids="1313,1314" data-item_id="1216" style="transform: translateX(1023.71px); width: 159.786px; top: 1905px;"]
    .vis-item-overflow
      .vis-item-content
        | Yantou Quanhuo
    .vis-item-visible-frame
  #1300.vis-item.vis-range.linji-school.teacher[data-descendant_ids="1400" data-item_id="1300" style="transform: translateX(1110.38px); width: 189.576px; top: 122px;"]
    .vis-item-overflow
      .vis-item-content
        | Nanyuan Huiyong
    .vis-item-visible-frame
  #1301.vis-item.vis-range.both-fade.linji-school.teacher[data-descendant_ids="" data-item_id="1301" style="transform: translateX(1137.46px); width: 189.576px; top: 362px;"]
    .vis-item-overflow
      .vis-item-content
        | Xiyuan Siming
    .vis-item-visible-frame
  #1302.vis-item.vis-range.both-fade.guiyang-school.teacher[data-descendant_ids="" data-item_id="1302" style="transform: translateX(1137.46px); width: 162.494px; top: 446px;"]
    .vis-item-overflow
      .vis-item-content
        | Zifu Rubao
    .vis-item-visible-frame
  #1303.vis-item.vis-range.both-fade.guiyang-school.teacher[data-descendant_ids="1401" data-item_id="1303" style="transform: translateX(1137.46px); width: 162.494px; top: 485px;"]
    .vis-item-overflow
      .vis-item-content
        | Bajiao Huiqing
    .vis-item-visible-frame
  #1304.vis-item.vis-range.both-fade.caodong-school.teacher[data-descendant_ids="1402" data-item_id="1304" style="transform: translateX(1137.46px); width: 162.494px; top: 1199px;"]
    .vis-item-overflow
      .vis-item-content
        | Tongan Daopi
    .vis-item-visible-frame
  #1305.vis-item.vis-range.both-fade.caodong-school.teacher[data-descendant_ids="" data-item_id="1305" style="transform: translateX(1137.46px); width: 162.494px; top: 1238px;"]
    .vis-item-overflow
      .vis-item-content
        | Huguo Shoucheng
    .vis-item-visible-frame
  #1306.vis-item.vis-range.yunmen-school.teacher[data-descendant_ids="1403,1404,1405,1406,1407" data-item_id="1306" style="transform: translateX(1121.21px); width: 230.2px; top: 1277px;"]
    .vis-item-overflow
      .vis-item-content
        | Yunmen Wenyan
    .vis-item-visible-frame
  #1307.vis-item.vis-range.both-fade.teacher[data-descendant_ids="" data-item_id="1307" style="transform: translateX(1164.54px); width: 189.576px; top: 239px;"]
    .vis-item-overflow
      .vis-item-content
        | Cuiyan Lingcan
    .vis-item-visible-frame
  #1308.vis-item.vis-range.teacher[data-descendant_ids="" data-item_id="1308" style="transform: translateX(1132.04px); width: 186.868px; top: 1316px;"]
    .vis-item-overflow
      .vis-item-content
        | Jingqing Daofu
    .vis-item-visible-frame
  #1309.vis-item.vis-range.both-fade.teacher[data-descendant_ids="" data-item_id="1309" style="transform: translateX(1110.38px); width: 189.576px; top: 1394px;"]
    .vis-item-overflow
      .vis-item-content
        | Taiyuan Fu
    .vis-item-visible-frame
  #1310.vis-item.vis-range.teacher[data-descendant_ids="1408" data-item_id="1310" style="transform: translateX(1042.67px); width: 197.701px; top: 1944px;"]
    .vis-item-overflow
      .vis-item-content
        | Xuansha Shibei
    .vis-item-visible-frame
  #1311.vis-item.vis-range.right-fade.teacher[data-descendant_ids="" data-item_id="1311" style="transform: translateX(1110.38px); width: 184.16px; top: 1983px;"]
    .vis-item-overflow
      .vis-item-content
        | Baofu Congzhan
    .vis-item-visible-frame
  #1312.vis-item.vis-range.teacher[data-descendant_ids="1409" data-item_id="1312" style="transform: translateX(1094.13px); width: 211.242px; top: 2022px;"]
    .vis-item-overflow
      .vis-item-content
        | Changqing Huileng
    .vis-item-visible-frame
  #1313.vis-item.vis-range.both-fade.teacher[data-descendant_ids="1410" data-item_id="1313" style="transform: translateX(1083.29px); width: 216.659px; top: 2061px;"]
    .vis-item-overflow
      .vis-item-content
        | Luoshan Daoxian
    .vis-item-visible-frame
  #1314.vis-item.vis-range.both-fade.teacher[data-descendant_ids="" data-item_id="1314" style="transform: translateX(1083.29px); width: 216.659px; top: 2100px;"]
    .vis-item-overflow
      .vis-item-content
        | Ruiyan Shiyan
    .vis-item-visible-frame
  #1400.vis-item.vis-range.linji-school.teacher[data-descendant_ids="1500" data-item_id="1400" style="transform: translateX(1207.87px); width: 208.534px; top: 83px;"]
    .vis-item-overflow
      .vis-item-content
        | Fengxue Yanzhao
    .vis-item-visible-frame
  #1401.vis-item.vis-range.both-fade.guiyang-school.teacher[data-descendant_ids="" data-item_id="1401" style="transform: translateX(1191.62px); width: 189.576px; top: 278px;"]
    .vis-item-overflow
      .vis-item-content
        | Xingyang Qingrang
    .vis-item-visible-frame
  #1402.vis-item.vis-range.both-fade.caodong-school.teacher[data-descendant_ids="1501" data-item_id="1402" style="transform: translateX(1191.62px); width: 189.576px; top: 1002px;"]
    .vis-item-overflow
      .vis-item-content
        | Tongan Guanzhi
    .vis-item-visible-frame
  #1403.vis-item.vis-range.yunmen-school.teacher[data-descendant_ids="1502" data-item_id="1403" style="transform: translateX(1240.37px); width: 213.951px; top: 161px;"]
    .vis-item-overflow
      .vis-item-content
        | Xianglin Chengyuan
    .vis-item-visible-frame
  #1404.vis-item.vis-range.both-fade.yunmen-school.teacher[data-descendant_ids="1503" data-item_id="1404" style="transform: translateX(1191.62px); width: 189.576px; top: 1355px;"]
    .vis-item-overflow
      .vis-item-content
        | Fengxian Daoshen
    .vis-item-visible-frame
  #1405.vis-item.vis-range.both-fade.yunmen-school.teacher[data-descendant_ids="" data-item_id="1405" style="transform: translateX(1191.62px); width: 189.576px; top: 1433px;"]
    .vis-item-overflow
      .vis-item-content
        | Baling Haojian
    .vis-item-visible-frame
  #1406.vis-item.vis-range.both-fade.yunmen-school.teacher[data-descendant_ids="1504" data-item_id="1406" style="transform: translateX(1191.62px); width: 189.576px; top: 1472px;"]
    .vis-item-overflow
      .vis-item-content
        | Deshan Yuanmi
    .vis-item-visible-frame
  #1407.vis-item.vis-range.yunmen-school.teacher[data-descendant_ids="" data-item_id="1407" style="transform: translateX(1245.79px); width: 216.659px; top: 200px;"]
    .vis-item-overflow
      .vis-item-content
        | Dongshan Shouchu
    .vis-item-visible-frame
  #1408.vis-item.vis-range.teacher[data-descendant_ids="1505,1506,1507" data-item_id="1408" style="transform: translateX(1129.33px); width: 165.202px; top: 1630px;"]
    .vis-item-overflow
      .vis-item-content
        | Luohan Guichen
    .vis-item-visible-frame
  #1409.vis-item.vis-range.both-fade.teacher[data-descendant_ids="" data-item_id="1409" style="transform: translateX(1191.62px); width: 189.576px; top: 1511px;"]
    .vis-item-overflow
      .vis-item-content
        | Wang Yanbin
    .vis-item-visible-frame
  #1410.vis-item.vis-range.both-fade.teacher[data-descendant_ids="" data-item_id="1410" style="transform: translateX(1191.62px); width: 189.576px; top: 1550px;"]
    .vis-item-overflow
      .vis-item-content
        | Mingzhao Deqian
    .vis-item-visible-frame
  #1500.vis-item.vis-range.linji-school.teacher[data-descendant_ids="1600,1601" data-item_id="1500" style="transform: translateX(1289.12px); width: 181.452px; top: 317px;"]
    .vis-item-overflow
      .vis-item-content
        | Shoushan Xingnian
    .vis-item-visible-frame
  #1501.vis-item.vis-range.both-fade.guiyang-school.teacher[data-descendant_ids="1602" data-item_id="1501" style="transform: translateX(1299.95px); width: 189.576px; top: 401px;"]
    .vis-item-overflow
      .vis-item-content
        | Liangshan Yuanguan
    .vis-item-visible-frame
  #1502.vis-item.vis-range.both-fade.yunmen-school.teacher[data-descendant_ids="1603,1604" data-item_id="1502" style="transform: translateX(1354.12px); width: 189.576px; top: 44px;"]
    .vis-item-overflow
      .vis-item-content
        | Zhimen Guangzuo
    .vis-item-visible-frame
  #1503.vis-item.vis-range.both-fade.yunmen-school.teacher[data-descendant_ids="" data-item_id="1503" style="transform: translateX(1299.95px); width: 189.576px; top: 524px;"]
    .vis-item-overflow
      .vis-item-content
        | Lianhua Fengxiang
    .vis-item-visible-frame
  #1504.vis-item.vis-range.both-fade.yunmen-school.teacher[data-descendant_ids="" data-item_id="1504" style="transform: translateX(1299.95px); width: 189.576px; top: 563px;"]
    .vis-item-overflow
      .vis-item-content
        | Wenshu Yingzhen
    .vis-item-visible-frame
  #1505.vis-item.vis-range.fayan-school.teacher[data-descendant_ids="1605,1606,1607,1608,1609" data-item_id="1505" style="transform: translateX(1178.08px); width: 197.701px; top: 1669px;"]
    .vis-item-overflow
      .vis-item-content
        | Fayan Wenyi
    .vis-item-visible-frame
  #1506.vis-item.vis-range.both-fade.teacher[data-descendant_ids="1610" data-item_id="1506" style="transform: translateX(1178.08px); width: 197.701px; top: 1708px;"]
    .vis-item-overflow
      .vis-item-content
        | Qingxi Hongjiu
    .vis-item-visible-frame
  #1507.vis-item.vis-range.both-fade.teacher[data-descendant_ids="" data-item_id="1507" style="transform: translateX(1178.08px); width: 197.701px; top: 1747px;"]
    .vis-item-overflow
      .vis-item-content
        | Longji Shaoxiu, ‘Xiushan’
    .vis-item-visible-frame
  #1600.vis-item.vis-range.linji-school.teacher[data-descendant_ids="1700,1701,1702" data-item_id="1600" style="transform: translateX(1345.99px); width: 208.534px; top: 122px;"]
    .vis-item-overflow
      .vis-item-content
        | Fenyang Shanzhao
    .vis-item-visible-frame
  #1601.vis-item.vis-range.both-fade.linji-school.teacher[data-descendant_ids="1703" data-item_id="1601" style="transform: translateX(1345.99px); width: 208.534px; top: 356px;"]
    .vis-item-overflow
      .vis-item-content
        | Shexian Guixing
    .vis-item-visible-frame
  #1602.vis-item.vis-range.caodong-school.teacher[data-descendant_ids="1704,1705" data-item_id="1602" style="transform: translateX(1335.16px); width: 227.492px; top: 440px;"]
    .vis-item-overflow
      .vis-item-content
        | Dayang Jingxuan
    .vis-item-visible-frame
  #1603.vis-item.vis-range.both-fade.yunmen-school.teacher[data-descendant_ids="" data-item_id="1603" style="transform: translateX(1408.28px); width: 216.659px; top: 5px;"]
    .vis-item-overflow
      .vis-item-content
        | Jiufeng Qin
    .vis-item-visible-frame
  #1604.vis-item.vis-range.yunmen-school.teacher[data-descendant_ids="1706,1707" data-item_id="1604" style="transform: translateX(1435.36px); width: 194.993px; top: 83px;"]
    .vis-item-overflow
      .vis-item-content
        | Xuedou Chongxian
    .vis-item-visible-frame
  #1605.vis-item.vis-range.both-fade.fayan-school.teacher[data-descendant_ids="" data-item_id="1605" style="transform: translateX(1191.62px); width: 189.576px; top: 1589px;"]
    .vis-item-overflow
      .vis-item-content
        | Baoen Xuanze
    .vis-item-visible-frame
  #1606.vis-item.vis-range.left-fade.fayan-school.teacher[data-descendant_ids="" data-item_id="1606" style="transform: translateX(1218.71px); width: 213.951px; top: 608px;"]
    .vis-item-overflow
      .vis-item-content
        | Guizong Cezhen
    .vis-item-visible-frame
  #1607.vis-item.vis-range.both-fade.fayan-school.teacher[data-descendant_ids="" data-item_id="1607" style="transform: translateX(1218.71px); width: 216.659px; top: 647px;"]
    .vis-item-overflow
      .vis-item-content
        | Baoci Xingyan
    .vis-item-visible-frame
  #1608.vis-item.vis-range.left-fade.fayan-school.teacher[data-descendant_ids="" data-item_id="1608" style="transform: translateX(1272.87px); width: 194.993px; top: 686px;"]
    .vis-item-overflow
      .vis-item-content
        | Chongshou Qizhou
    .vis-item-visible-frame
  #1609.vis-item.vis-range.fayan-school.teacher[data-descendant_ids="1708" data-item_id="1609" style="transform: translateX(1194.33px); width: 219.367px; top: 1827px;"]
    .vis-item-overflow
      .vis-item-content
        | Tiantai Deshao
    .vis-item-visible-frame
  #1610.vis-item.vis-range.both-fade.teacher[data-descendant_ids="" data-item_id="1610" style="transform: translateX(1272.87px); width: 216.659px; top: 725px;"]
    .vis-item-overflow
      .vis-item-content
        | Tianping Congyi
    .vis-item-visible-frame
  #1700.vis-item.vis-range.linji-school.teacher[data-descendant_ids="1800,1801,1802" data-item_id="1700" style="transform: translateX(1454.32px); width: 143.536px; top: 239px;"]
    .vis-item-overflow
      .vis-item-content
        | Shishuang Chuyuan
    .vis-item-visible-frame
  #1701.vis-item.vis-range.both-fade.linji-school.teacher[data-descendant_ids="" data-item_id="1701" style="transform: translateX(1462.45px); width: 189.576px; top: 278px;"]
    .vis-item-overflow
      .vis-item-content
        | Dayu Shouzhi
    .vis-item-visible-frame
  #1702.vis-item.vis-range.both-fade.linji-school.teacher[data-descendant_ids="1803" data-item_id="1702" style="transform: translateX(1462.45px); width: 189.576px; top: 479px;"]
    .vis-item-overflow
      .vis-item-content
        | Langye Huijue
    .vis-item-visible-frame
  #1703.vis-item.vis-range.linji-school.teacher[data-descendant_ids="" data-item_id="1703" style="transform: translateX(1465.16px); width: 205.826px; top: 161px;"]
    .vis-item-overflow
      .vis-item-content
        | Fushan Fayuan
    .vis-item-visible-frame
  #1704.vis-item.vis-range.caodong-school.teacher[data-descendant_ids="1804" data-item_id="1704" style="transform: translateX(1576.19px); width: 138.12px; top: 44px;"]
    .vis-item-overflow
      .vis-item-content
        | Touzi Yiqing
    .vis-item-visible-frame
  #1705.vis-item.vis-range.both-fade.caodong-school.teacher[data-descendant_ids="" data-item_id="1705" style="transform: translateX(1489.53px); width: 216.659px; top: 200px;"]
    .vis-item-overflow
      .vis-item-content
        | Xingyang Qingpou
    .vis-item-visible-frame
  #1706.vis-item.vis-range.yunmen-school.teacher[data-descendant_ids="1805" data-item_id="1706" style="transform: translateX(1470.57px); width: 192.285px; top: 602px;"]
    .vis-item-overflow
      .vis-item-content
        | Tianyi Yihuai
    .vis-item-visible-frame
  #1707.vis-item.vis-range.both-fade.yunmen-school.teacher[data-descendant_ids="" data-item_id="1707" style="transform: translateX(1489.53px); width: 216.659px; top: 317px;"]
    .vis-item-overflow
      .vis-item-content
        | Chengtian Chuanzong
    .vis-item-visible-frame
  #1708.vis-item.vis-range.fayan-school.teacher[data-descendant_ids="" data-item_id="1708" style="transform: translateX(1229.54px); width: 192.285px; top: 768px;"]
    .vis-item-overflow
      .vis-item-content
        | Yongming Yanshou
    .vis-item-visible-frame
  #1800.vis-item.vis-range.linji-school.huanglong-branch.teacher[data-descendant_ids="1900,1901" data-item_id="1800" style="transform: translateX(1494.95px); width: 181.452px; top: 641px;"]
    .vis-item-overflow
      .vis-item-content
        | Huanglong Huinan
    .vis-item-visible-frame
  #1801.vis-item.vis-range.linji-school.yangqi-branch.teacher[data-descendant_ids="1902,1903" data-item_id="1801" style="transform: translateX(1470.57px); width: 143.536px; top: 764px;"]
    .vis-item-overflow
      .vis-item-content
        | Yangqi Fanghui
    .vis-item-visible-frame
  #1802.vis-item.vis-range.left-fade.linji-school.teacher[data-descendant_ids="1904" data-item_id="1802" style="transform: translateX(1435.36px); width: 178.744px; top: 803px;"]
    .vis-item-overflow
      .vis-item-content
        | Cuiyan Kezhen
    .vis-item-visible-frame
  #1803.vis-item.vis-range.left-fade.linji-school.teacher[data-descendant_ids="" data-item_id="1803" style="transform: translateX(1408.28px); width: 184.16px; top: 842px;"]
    .vis-item-overflow
      .vis-item-content
        | Changshui Zixuan
    .vis-item-visible-frame
  #1804.vis-item.vis-range.caodong-school.teacher[data-descendant_ids="1905,1906" data-item_id="1804" style="transform: translateX(1605.98px); width: 203.118px; top: 122px;"]
    .vis-item-overflow
      .vis-item-content
        | Furong Daokai
    .vis-item-visible-frame
  #1805.vis-item.vis-range.both-fade.yunmen-school.teacher[data-descendant_ids="" data-item_id="1805" style="transform: translateX(1489.53px); width: 216.659px; top: 680px;"]
    .vis-item-overflow
      .vis-item-content
        | Yuantong Fashen, ‘Fayun’
    .vis-item-visible-frame
  #1900.vis-item.vis-range.linji-school.huanglong-branch.teacher[data-descendant_ids="2000,2001" data-item_id="1900" style="transform: translateX(1557.24px); width: 208.534px; top: 395px;"]
    .vis-item-overflow
      .vis-item-content
        | Yunan Kewen, ‘Zhenjing’
    .vis-item-visible-frame
  #1901.vis-item.vis-range.linji-school.huanglong-branch.teacher[data-descendant_ids="2002" data-item_id="1901" style="transform: translateX(1557.24px); width: 203.118px; top: 518px;"]
    .vis-item-overflow
      .vis-item-content
        | Huitang Zuxin
    .vis-item-visible-frame
  #1902.vis-item.vis-range.linji-school.yangqi-branch.teacher[data-descendant_ids="2003" data-item_id="1902" style="transform: translateX(1557.24px); width: 127.287px; top: 557px;"]
    .vis-item-overflow
      .vis-item-content
        | Baiyun Shouduan
    .vis-item-visible-frame
  #1903.vis-item.vis-range.both-fade.linji-school.yangqi-branch.teacher[data-descendant_ids="" data-item_id="1903" style="transform: translateX(1570.78px); width: 135.412px; top: 356px;"]
    .vis-item-overflow
      .vis-item-content
        | Baoning Renyong
    .vis-item-visible-frame
  #1904.vis-item.vis-range.left-fade.linji-school.teacher[data-descendant_ids="" data-item_id="1904" style="transform: translateX(1570.78px); width: 162.494px; top: 719px;"]
    .vis-item-overflow
      .vis-item-content
        | Dagui Muzhe
    .vis-item-visible-frame
  #1905.vis-item.vis-range.caodong-school.teacher[data-descendant_ids="2004,2005" data-item_id="1905" style="transform: translateX(1662.86px); width: 143.536px; top: 5px;"]
    .vis-item-overflow
      .vis-item-content
        | Danxia Zichun
    .vis-item-visible-frame
  #1906.vis-item.vis-range.caodong-school.teacher[data-descendant_ids="" data-item_id="1906" style="transform: translateX(1717.02px); width: 119.162px; top: 83px;"]
    .vis-item-overflow
      .vis-item-content
        | Baofeng Weizhao ‘Chanti’
    .vis-item-visible-frame
  #2000.vis-item.vis-range.linji-school.huanglong-branch.teacher[data-descendant_ids="" data-item_id="2000" style="transform: translateX(1681.81px); width: 154.369px; top: 161px;"]
    .vis-item-overflow
      .vis-item-content
        | Juefan Huihong, ‘Dehong’
    .vis-item-visible-frame
  #2001.vis-item.vis-range.linji-school.huanglong-branch.teacher[data-descendant_ids="" data-item_id="2001" style="transform: translateX(1554.53px); width: 216.659px; top: 881px;"]
    .vis-item-overflow
      .vis-item-content
        | Doushuai Congyue
    .vis-item-visible-frame
  #2002.vis-item.vis-range.linji-school.huanglong-branch.teacher[data-descendant_ids="" data-item_id="2002" style="transform: translateX(1608.69px); width: 192.285px; top: 239px;"]
    .vis-item-overflow
      .vis-item-content
        | Sixin Wuxin
    .vis-item-visible-frame
  #2003.vis-item.vis-range.left-fade.linji-school.yangqi-branch.teacher[data-descendant_ids="2100,2101,2102,2103" data-item_id="2003" style="transform: translateX(1570.78px); width: 200.409px; top: 920px;"]
    .vis-item-overflow
      .vis-item-content
        | Wuzu Fayan
    .vis-item-visible-frame
  #2004.vis-item.vis-range.caodong-school.teacher[data-descendant_ids="2104" data-item_id="2004" style="transform: translateX(1730.56px); width: 167.911px; top: 44px;"]
    .vis-item-overflow
      .vis-item-content
        | Zhenxie Qingliao ‘Daxiu’
    .vis-item-visible-frame
  #2005.vis-item.vis-range.caodong-school.teacher[data-descendant_ids="" data-item_id="2005" style="transform: translateX(1735.98px); width: 178.744px; top: 200px;"]
    .vis-item-overflow
      .vis-item-content
        | Hongzhi Zhengjue, ‘Tianlong’
    .vis-item-visible-frame
  #2100.vis-item.vis-range.linji-school.yangqi-branch.teacher[data-descendant_ids="2200,2201" data-item_id="2100" style="transform: translateX(1660.15px); width: 194.993px; top: 434px;"]
    .vis-item-overflow
      .vis-item-content
        | Yuanwu Keqin, ‘Foguo’
    .vis-item-visible-frame
  #2101.vis-item.vis-range.linji-school.yangqi-branch.teacher[data-descendant_ids="" data-item_id="2101" style="transform: translateX(1649.32px); width: 157.078px; top: 758px;"]
    .vis-item-overflow
      .vis-item-content
        | Taiping Huiqin ‘Fojian’
    .vis-item-visible-frame
  #2102.vis-item.vis-range.linji-school.yangqi-branch.teacher[data-descendant_ids="2202" data-item_id="2102" style="transform: translateX(1670.98px); width: 143.536px; top: 278px;"]
    .vis-item-overflow
      .vis-item-content
        | Foyan Qingyuan
    .vis-item-visible-frame
  #2103.vis-item.vis-range.left-fade.linji-school.yangqi-branch.teacher[data-descendant_ids="2203" data-item_id="2103" style="transform: translateX(1597.86px); width: 197.701px; top: 959px;"]
    .vis-item-overflow
      .vis-item-content
        | Kaifu Daoning
    .vis-item-visible-frame
  #2104.vis-item.vis-range.caodong-school.teacher[data-descendant_ids="2204" data-item_id="2104" style="transform: translateX(1735.98px); width: 192.285px; top: 317px;"]
    .vis-item-overflow
      .vis-item-content
        | Tiantong Zongjue
    .vis-item-visible-frame
  #2200.vis-item.vis-range.linji-school.yangqi-branch.teacher[data-descendant_ids="" data-item_id="2200" style="transform: translateX(1730.56px); width: 200.409px; top: 356px;"]
    .vis-item-overflow
      .vis-item-content
        | Dahui Zonggao, ‘Fori’
    .vis-item-visible-frame
  #2201.vis-item.vis-range.linji-school.yangqi-branch.teacher[data-descendant_ids="" data-item_id="2201" style="transform: translateX(1744.1px); width: 140.828px; top: 473px;"]
    .vis-item-overflow
      .vis-item-content
        | Huguo Jingyuan
    .vis-item-visible-frame
  #2202.vis-item.vis-range.linji-school.yangqi-branch.teacher[data-descendant_ids="" data-item_id="2202" style="transform: translateX(1714.31px); width: 170.619px; top: 557px;"]
    .vis-item-overflow
      .vis-item-content
        | Zhuan Shigui
    .vis-item-visible-frame
  #2203.vis-item.vis-range.linji-school.yangqi-branch.teacher[data-descendant_ids="2300" data-item_id="2203" style="transform: translateX(1703.48px); width: 197.701px; top: 596px;"]
    .vis-item-overflow
      .vis-item-content
        | Yuean Shanguo
    .vis-item-visible-frame
  #2204.vis-item.vis-range.caodong-school.teacher[data-descendant_ids="2301" data-item_id="2204" style="transform: translateX(1773.89px); width: 235.616px; top: 512px;"]
    .vis-item-overflow
      .vis-item-content
        | Xuedou Zhijian
    .vis-item-visible-frame
  #2300.vis-item.vis-range.both-fade.linji-school.yangqi-branch.teacher[data-descendant_ids="2400" data-item_id="2300" style="transform: translateX(1760.35px); width: 189.576px; top: 635px;"]
    .vis-item-overflow
      .vis-item-content
        | Dahong Zuzheng, ‘La Nao’
    .vis-item-visible-frame
  #2301.vis-item.vis-range.caodong-school.teacher[data-descendant_ids="" data-item_id="2301" style="transform: translateX(1930.97px); width: 176.035px; top: 5px;"]
    .vis-item-overflow
      .vis-item-content
        | Tiantong Rujing
    .vis-item-visible-frame
  #2400.vis-item.vis-range.linji-school.yangqi-branch.teacher[data-descendant_ids="2500" data-item_id="2400" style="transform: translateX(1876.81px); width: 200.409px; top: 83px;"]
    .vis-item-overflow
      .vis-item-content
        | Yuelin Shiguan
    .vis-item-visible-frame
  #2500.vis-item.vis-range.linji-school.yangqi-branch.teacher[data-descendant_ids="" data-item_id="2500" style="transform: translateX(1985.14px); width: 208.534px; top: 44px;"]
    .vis-item-overflow
      .vis-item-content
        | Wumen Huikai
    .vis-item-visible-frame

