---
title: About | Zen Timeline and Lineage Charts
layout: articles
---
article
  h2 About
  p ZTALC was created to help see through the "eyebrows" of Zen masters by understanding the times they lived in and their relationships to contemporaries and forebears. Although koans stand on their own without needing to know the characters, they are enriched by an understanding of the history and personalities behind them. With so many famous teachers appearing in various koan collections, it can be difficult to remember each teacher's place in the history of Zen. Hopefully this chart goes some way to putting them in context.

  h3 Help
  ul
    li Click on teachers to see their ancestors and direct descendants.
    li The legend is collapsible by clicking on the title.
    li Faded backgrounds indicate that dates are unknown.
    li Use your browser's built-in search (&#8984;-F or Ctl-F) to locate a teacher.

  p If the chart does not appear or function as described, please try using a current version of Firefox or Chrome.

  h3 Historical accuracy
  p The stories of Zen masters, especially earlier ones, are as much built on legend as fact. The dates used in this timeline are conventionally accepted, though most acknowledge that many dates are uncertain. Further, there are likely more teachers omitted than included in this chart. Therefore, this chart should not be considered to be a comprehensive catalogue of Zen teachers. Likewise, a teacher's abilities should not be judged by the number of descendants shown here, or in any other account.

  h3 References
  p
    | Names and dates have been gathered principally from Wikipedia, <a href="https://terebess.hu/zen/zen.html">Terebess</a> and Andy Ferguson's <cite>Zen's Chinese Heritage</cite>.

  h3 Why haven't you included X?
  p There are a number of reasons why a teacher has not been added to the chart.
  ul
    li There is not enough information about a teacher to make them historically significant.
    li I just have not got round to it!
    li Japanese and Korean teachers will be put in separate charts later.

  p If you feel there should be a teacher included, please contact me.

  h3 Other lineage charts on the Web
  ul
    li
      a[href="https://www.scribd.com/doc/251590366/Ferguson-Lineage-Chart-of-the-Zen-Ancestors-in-China"] Andy Ferguson's lineage chart
    li
      a[href="https://terebess.hu/zen/mesterek/lineage.html"] Terebess lineage chart

  h3 Credits
  p This chart was created using a variety of open source software including:
  ul
    li
      a[href="https://github.com/visjs/vis-timeline"] Vis timeline
    li
      a[href="https://anseki.github.io/leader-line/"] Leader line
    li
      a[href="https://middlemanapp.com/"] Middleman

  h3 Support
  p If this chart has been helpful, please consider supporting it via "Buy me a coffee".
  = partial 'partials/bmac'

  h3 Licence
  p
    | This chart and data are licensed under the <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1">Creative Commons licence</a>. Data used to produce the chart is available as a <a href="https://ztalc.netlify.app/javascripts/data/teachers.json">JSON file</a>. Feel free to use them under the conditions of the licence.

  h3 Contact
  p
    | Comments, questions and suggestions welcome at <a href="mailto:this.leaky.bucket@protonmail.com">this.leaky.bucket@protonmail.com</a>. Please put "ZTALC" in the subject line, or it will be marked as spam.
