---
title: "Zen Timeline and Lineage Charts"
---

= javascript_include_tag "site.min"
/ button#toggle-teachers Hide unrelated teachers
= partial "partials/ztalc"
= partial "partials/legend"
footer
  = partial "partials/cc"
  = partial "partials/bmac"
