---
title: Dev Page | Zen Timeline and Lineage Charts
published: false
---

= javascript_include_tag "dev.min"
#visualization alt="A timeline of certain recorded Chinese Zen teachers from Bodhidharma to the Song dynasty. Lineages are shown dynamically by clicking on teachers."
= partial "partials/legend"
= partial "partials/cc"
